<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <title>Document</title>
</head>
<body>
  {{>header}}
    <main class="containers">
      <h1 style="margin-bottom: 1rem;">This is your cookie </h1>
      <span class="userName">{{cookie}}</span>
    </main>
 {{>footer}}
</body>
</html>