<div class="header">
  <div class="logo">Logo</div>
  <ul class="navlist">
    <li class="navitem"><a href="/">HOME</a></li>
    <li class="navitem"><a href="#">SERVICES</a></li>
    <li class="navitem"><a href="#">BLOG</a></li>
    <li class="navitem"><a href="/login">LOGIN</a></li>
    <li class="navitem"><a href="/register">REGISTRATION</a></li>
  </ul>
</div>